{% extends 'admin/base.html.twig' %}

{% block title %}User add!{% endblock %}

{% block content %}
    <div class="layout-container">
        <!-- Layout navbar -->
        {{ render(controller('App\\Controller\\Admin\\Widget\\NavbarController::show')) }}
        <!-- / Layout navbar -->

        <!-- Layout content -->
        <div class="layout-content">

            <!-- Content -->
            <div class="container-fluid flex-grow-1 container-p-y">

                <h4 class="font-weight-bold py-3 mb-4">
                    Add an Entity <span class="text-muted">#563</span>
                </h4>

                <div class="card">
                    <div class="card-body media align-items-center">
                        <img src="{{ asset('build/images/avatars/1-small.png') }}" class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <a href="javascript:void(0)" class="d-block text-body">
                                <strong>Mike Greene</strong>
                                <span class="text-muted">@mgreene</span>
                            </a>
                            Created at 03/30/2018
                        </div>
                    </div>
                    <hr class="m-0">
                    <div class="card-body pb-2">

                        <div class="form-group">
                            <label class="form-label">Title</label>
                            <input type="text" class="form-control" value="What Is The Big R For Marketing Your Business">
                        </div>

                        <div class="form-group">
                            <label class="form-label">Slug</label>
                            <input type="text" class="form-control" value="what-is-the-big-r-for-marketing-your-business">
                        </div>

                        <div class="form-group">
                            <label class="form-label">Tags</label>
                            <input type="text" class="form-control article-edit-tagsinput" value="Productivity,Creativity,Writing,Inspiration,Psychology">
                        </div>

                        <div class="form-group">
                            <label class="form-label">Status</label>
                            <select class="custom-select">
                                <option selected>Published</option>
                                <option>Draft</option>
                                <option>Deleted</option>
                            </select>
                        </div>


                    </div>
                    <hr class="m-0">
                    <div class="card-body pb-2">
                        <h6 class="small font-weight-semibold mb-4">Meta</h6>

                        <div class="form-group">
                            <label class="form-label">Title</label>
                            <input type="text" class="form-control" value="What Is The Big R For Marketing Your Business">
                        </div>

                        <div class="form-group">
                            <label class="form-label">Description</label>
                            <textarea class="form-control" rows="3">Read What Is The Big R For Marketing Your Business</textarea>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Keywords</label>
                            <input type="text" class="form-control" value="Productivity, Creativity, Writing, Inspiration, Psychology">
                        </div>
                    </div>

                </div>

                <div class="text-right mt-3">
                    <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
                    <button type="button" class="btn btn-default">Cancel</button>
                </div>

            </div>
            <!-- / Content -->

            <!-- Layout footer -->
            {{ render(controller('App\\Controller\\Admin\\Widget\\FooterController::show')) }}
            <!-- / Layout footer -->

        </div>
        <!-- Layout content -->

    </div>
{% endblock %}
