{% extends 'admin/base.html.twig' %}

{% block title %}User add!{% endblock %}

{% block content %}
    <div class="layout-container">
        <!-- Layout navbar -->
        {{ render(controller('App\\Controller\\Admin\\Widget\\NavbarController::show')) }}
        <!-- / Layout navbar -->

        <!-- Layout content -->
        <div class="layout-content">


            <!-- Content -->
            {{ form_start(form) }}
            <div class="container-fluid flex-grow-1 container-p-y">

                <h4 class="font-weight-bold py-3 mb-4">
                    Add an Entity <span class="text-muted">#563</span>
                </h4>

                <div class="card">
                    <div class="card-body pb-2">


                        <div class="form-group">
                            <div class="form-error">{{ form_errors(form.firstName) }}</div>
                            <label class="form-label">{{ form_label(form.firstName) }}</label>
                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            <div class="form-error">{{ form_errors(form.lastName) }}</div>
                            <label class="form-label">{{ form_label(form.lastName) }}</label>
                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            <div class="form-error">{{ form_errors(form.email) }}</div>
                            <label class="form-label">{{ form_label(form.email) }}</label>
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            <div class="form-error">{{ form_errors(form.password) }}</div>
                            <label class="form-label">{{ form_label(form.password) }}</label>
                            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                        </div>


                        {#<div class="form-group">
                            <label class="form-label">Status</label>
                            <select class="custom-select">
                                <option selected>Published</option>
                                <option>Draft</option>
                                <option>Deleted</option>
                            </select>
                        </div>#}


                    </div>

                </div>

                <div class="text-right mt-3">
                    <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;
                    <button type="button" class="btn btn-default">Cancel</button>
                </div>

            </div>
            {{ form_end(form) }}
            <!-- / Content -->

            <!-- Layout footer -->
            {{ render(controller('App\\Controller\\Admin\\Widget\\FooterController::show')) }}
            <!-- / Layout footer -->

        </div>
        <!-- Layout content -->

    </div>
{% endblock %}
