{% extends 'admin/base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block content %}
    <div class="layout-container">
        <!-- Layout navbar -->
        {{ render(controller('App\\Controller\\Admin\\Widget\\NavbarController::show')) }}
        <!-- / Layout navbar -->

        <!-- Layout content -->
        <div class="layout-content">

            <!-- Content -->
            <div class="container-fluid flex-grow-1 container-p-y">

                <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
                    <div>Users</div>
                    <a href="{{ path('admin.user.create') }}">
                        <button type="button" class="btn btn-primary rounded-pill d-block"><span class="ion ion-md-add"></span>&nbsp; Create an Entity</button>
                    </a>
                </h4>

                <div class="card">
                    <div class="card-datatable table-responsive">
                        <table id="user-list" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>E-mail</th>
                                <th>Name</th>
                                <th>Role</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.role }}</td>
                                    <td>ID</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- / Content -->

            <!-- Layout footer -->
            {{ render(controller('App\\Controller\\Admin\\Widget\\FooterController::show')) }}
            <!-- / Layout footer -->

        </div>
        <!-- Layout content -->

    </div>
{% endblock %}
