<!DOCTYPE html>

<html lang="en" class="light-style">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="centrifugo-url" content="{{ centrifugo_url }}">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Main font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

    {% block stylesheets %}
        {{ encore_entry_link_tags('icons') }}

        {{ encore_entry_link_tags('core-styles-appwork') }}

        {{ encore_entry_script_tags('polyfills') }}

        {{ encore_entry_script_tags('material-ripple') }}
        {{ encore_entry_script_tags('layout-helpers') }}

        {{ encore_entry_script_tags('pace') }}
{#        {{ encore_entry_script_tags('jquery') }}#}

        {{ encore_entry_link_tags('perfect-scrollbar') }}

{#        {{ encore_entry_link_tags('app') }}#}
    {% endblock %}

</head>

<body>
<div class="page-loader">
    <div class="bg-primary"></div>
</div>

<!-- Layout wrapper -->
<div class="layout-wrapper layout-2">
    <div class="layout-inner">

        <!-- Layout sidenav -->
        {{ render(controller('App\\Controller\\Admin\\Widget\\SidebarController::show')) }}
        <!-- / Layout sidenav -->

        <!-- Layout container -->
        {% block content %}{% endblock content %}
        <!-- / Layout container -->

    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-sidenav-toggle"></div>
</div>
<!-- / Layout wrapper -->

{% block javascripts %}
    {{ encore_entry_script_tags('core-scripts-appwork') }}
    {{ encore_entry_script_tags('perfect-scrollbar') }}
    {{ encore_entry_script_tags('appwork-main') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>

</html>
